<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <div class="container">
    <button class="btnMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="45" height="45" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
    
    <div class="title">
        <img src="/images/menuLogo.png" alt="" class="headerLogo">
            <h3 class="">ASTROLOGIA AL SUR</h3>
            <img src="/images/menuLogo.png" alt="" class="headerLogo">
        <% let date = new Date %> 
        <h5 class=""><%= `${date.getUTCDate()}, ${(date.getUTCMonth() + 1)}, ${date.getUTCFullYear()}` %> </h5>
    </div>
        <aside class="sidebar">
            <nav class="nav">
                <img src="/images/menuLogo.png" class="menuLogo" alt="">
            <ul>
                <li class=""><a href="/">Inicio</a></li>
                <li class="active"><a href="/presentation">Presentación</a></li>
                <!-- <li><a href="/technique">Técnica</a></li> -->
                <li><a href="/investigation">Investigación</a></li>
                <li><a href="/forecast">Pronóstico</a></li>
                <li><a href="/talk">Hablemos</a></li>
                <br>
                
                <% if(typeof userLog != 'undefined' && userLog.role == 2) { %> 
                    <li><a href="/publish">Publicar</a></li>
                <% } %> 

                <% if(typeof userLog == 'undefined'){ %> 
                <li><a href="/user/login">Iniciar Sesión</a></li>
                <li><a href="/user/register">Registrarse</a></li>
                <% } else { %> 
                <li><a href="/user/account/<%= userLog.id %> ">Cuenta</a></li>
                <li><a href="/user/logout">Salir</a></li>
                <% } %> 
            </nav>
        </aside>
        <div class="presentationContainer ">
            <div class="presentationTextContainer ">
                <h5>Me llamo Melina Graves, estudié Historia en la Universidad de Buenos Aires y después una Maestría en Sociología de la Cultura en la UNSAM. Conocí la práctica de la astrología profesional con la cuadratura Urano-Urano, a los 21 años, y a partir de ahí me atrapó esa pasión por momentos obsesiva que tenemos cuando sentimos que hay un lugar de verdad en el mundo, o en la vida.</h5>
                <h5>Muchos años después de eso, y de manera más sosegada, me pregunto por qué me atrajo la astrología, y por qué sigue encantando a quienes las practicamos y a quienes no. Y encuentro la respuesta en la Historia: en todas las culturas, de punta a punta del globo, desde que existen registros, se ha buscado mirar las estrellas e intentado descifrar su lenguaje. La interpretación astrológica muestra orden, y predictibilidad, y eso da sosiego. Nos hace sentir parte de un todo cósmico que trasciende ideologías y religiones, nos conecta con nuestros antepasados, y con nuestros yo futuros, nos hace enraizarnos en lo que es profundamente humano.</h5>
                <h5>A diferencia de las miradas esquemáticas que divorcian ciencia y arte astrológico, yo creo que habría que pensar diferente este punto: creo que habría que celebrar cómo el pensamiento matemático, astronómico y simbólico de más de cuatro mil años de astrología (registrada) han ayudado al avance de otros campos del conocimiento humano. Hacer astrología es transitar este breve momento que tenemos en la Tierra de una manera más rica, más empática, más sensible y más esperanzada, y aquellos que la practicamos además tenemos esa sensación por momentos abrumadora, pero siempre significativa, de que estamos llevando ese delicado testimonio de saber milenario para pasarlo al futuro.</h5>
            </div>
            <div class="presentationImageContainer ">
                <img src="/images/homeLogo.png" alt="">
            </div>
        </div>
        </div>
        <button class="scroll d-none"><i class="fas fa-arrow-up fa-2x"></i></button>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 

</body>
</html>