<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
    <button class="btnMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="45" height="45" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
    <div class="container-fluid">
    <div class="title">
        <div class="titleImgContainer d-flex justify-content-center">
            <img src="/images/menuLogo.png" alt="" class="headerLogo">
            <h3 class="">ASTROLOGIA AL SUR</h3>
            <img src="/images/menuLogo.png" alt="" class="headerLogo">
        </div>
        <% let date = new Date %> 
        <h5 class=""><%= `${date.getUTCDate()}, ${(date.getUTCMonth() + 1)}, ${date.getUTCFullYear()}` %> </h5>
    </div>
        <aside class="sidebar">
            <nav class="nav">
                <img src="/images/menuLogo.png" class="menuLogo" alt="">
            <ul>
                <li class=""><a href="/">Inicio</a></li>
                <li class=""><a href="/presentation">Presentación</a></li>
                <li class="active"><a href="/technique">Técnica</a></li>
                <li><a href="/investigation">Investigación</a></li>
                <li><a href="/forecast">Pronóstico</a></li>
                <li><a href="/talk">Hablemos</a></li>
                <br>
                
                <% if(typeof userLog != 'undefined' && userLog.role == 2) { %> 
                    <li><a href="/publish">Publicar</a></li>
                <% } %> 

                <% if(typeof userLog == 'undefined'){ %> 
                <li><a href="/user/login">Iniciar Sesión</a></li>
                <li><a href="/user/register">Registrarse</a></li>
                <% } else { %> 
                <li><a href="/user/account/<%= userLog.id %> ">Cuenta</a></li>
                <li><a href="/user/logout">Salir</a></li>
                <% } %> 
            </ul>
            </nav>
        </aside>
        
        <div class="accordion collapseContainer" id="accordionExample">

            <h3>Técnicas de trabajo</h3>
            <div class="card collapseDiv">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Arco Solar
                    <i class="fas fa-caret-down 2x"></i>
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body collapseText">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquam quaerat fuga odit maiores esse iusto voluptatum saepe praesentium modi ipsa placeat ipsum veritatis doloremque, consequatur ad et quidem perferendis? Quis, excepturi dicta voluptatem praesentium iusto aut autem. Est reprehenderit facilis accusamus nemo dolorum cum, dolorem odio officiis earum voluptas.
                </div>
              </div>
            </div>

            <div class="card collapseDiv">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Rutina Predictiva
                    <i class="fas fa-caret-down 2x"></i>
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body collapseText">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquam quaerat fuga odit maiores esse iusto voluptatum saepe praesentium modi ipsa placeat ipsum veritatis doloremque, consequatur ad et quidem perferendis? Quis, excepturi dicta voluptatem praesentium iusto aut autem. Est reprehenderit facilis accusamus nemo dolorum cum, dolorem odio officiis earum voluptas.
                </div>
              </div>
            </div>

            
            <div class="card collapseDiv">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Astrologia Horaria
                    <i class="fas fa-caret-down 2x"></i>
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body collapseText">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquam quaerat fuga odit maiores esse iusto voluptatum saepe praesentium modi ipsa placeat ipsum veritatis doloremque, consequatur ad et quidem perferendis? Quis, excepturi dicta voluptatem praesentium iusto aut autem. Est reprehenderit facilis accusamus nemo dolorum cum, dolorem odio officiis earum voluptas.
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('./partials/footer') %> 
        <%- include('./partials/scripts') %> 
        
</body>
</html>